/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 670px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1050px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 669.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 670px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 670px) and (max-width: 1049.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1050px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1199.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #010101;
  height: 3.8rem;
  background: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: 1px solid #b5b5b5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form-control::-moz-placeholder {
  color: #010101;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #010101;
}
.form-control::-webkit-input-placeholder {
  color: #010101;
}
.form-control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form-control:focus {
  color: #010101;
  border-color: #333;
}
.form-control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form-control:focus:-ms-input-placeholder {
  color: transparent;
}
.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-group {
  margin-bottom: 1.7rem;
}

.btn {
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.9rem;
  white-space: nowrap;
  background: #ffd44a;
  display: inline-block;
  vertical-align: middle;
  padding: 1.6rem 6.5rem;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #000;
  background: #ffc200;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn:active {
  background: #ffd44a;
}

.btn-shadow {
  padding: 1.6rem 2rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(255, 211, 74, 0.24);
  box-shadow: 0px 8px 16px 0px rgba(255, 211, 74, 0.24);
}
@media (min-width: 576px) {
  .btn-shadow {
    padding: 1.6rem 6.5rem;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #2D2926;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 670px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 1050px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-family: "Roboto", Arial, sans-serif;
}
@media (min-width: 576px) {
  h1, .h1 {
    font-size: 6.2rem;
  }
}
@media (min-width: 1050px) {
  h1, .h1 {
    font-size: 6.6rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 3rem;
  font-family: "Roboto", Arial, sans-serif;
}
@media (min-width: 576px) {
  h2, .h2 {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Roboto", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  outline: none;
  color: #2D2926;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #ffd44a;
  text-decoration: none;
}

.im-header {
  background: #fff;
  padding: 1.6rem 0 1.5rem 0;
}
.im-header-logo {
  width: 274px;
  height: 62px;
  display: block;
  margin: 0 auto 0.6rem auto;
}
.im-header-contact {
  text-align: center;
}
.im-header-phone {
  margin: 0;
  padding: 0 2rem;
  color: #2f2f2f;
  font-size: 2rem;
  list-style: none;
  font-weight: 600;
  line-height: 2.2rem;
  position: relative;
  display: inline-block;
}
.im-header-phone > li {
  padding: 0 1.5rem;
  min-height: 2.2rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.im-header-phone > li:first-child {
  position: relative;
}
.im-header-phone > li:first-child:before {
  left: -2rem;
  top: 1px;
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_phone.svg") 50% 50% no-repeat;
  background-size: cover;
}
.im-header-phone > li a {
  color: #333;
  text-decoration: none;
}
.im-header-phone > li a:hover {
  color: #333;
  text-decoration: none;
}
.im-header-email {
  display: none;
}
@media (min-width: 1050px) {
  .im-header {
    padding: 2.1rem 0;
  }
  .im-header-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .im-header-logo {
    margin: 0;
    width: 347px;
    height: auto;
  }
  .im-header-contact {
    text-align: left;
    padding-top: 1.4rem;
  }
  .im-header-phone {
    padding: 0;
    margin: 0 -1.5rem 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .im-header-phone > li {
    margin-bottom: 0;
  }
  .im-header-email {
    color: #1e1e1e;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 1.5rem;
    line-height: 1.7rem;
    display: inline-block;
    border-bottom: 1px solid #c7c7c7;
  }
  .im-header-email:hover {
    color: #1e1e1e;
    border-bottom-color: transparent;
  }
}

.im-jumbotron {
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5.5rem;
  background: url("../img/first_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.im-jumbotron h1 {
  text-align: center;
}
.im-jumbotron h1 span {
  display: block;
  color: #ffd44a;
}
.im-jumbotron-text {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 4.8rem;
  font-family: "Roboto", Arial, sans-serif;
}
.im-jumbotron-text span {
  padding: 0.7rem 0;
  display: inline-block;
  border-top: 1px solid #f3d356;
  border-bottom: 1px solid #f3d356;
}
.im-jumbotron .im-info {
  padding: 0;
  margin: 0 0 4rem 0;
  list-style: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}
.im-jumbotron .im-info li {
  position: relative;
  padding-left: 0;
  margin-bottom: 3.5rem;
}
.im-jumbotron .im-info li:before {
  left: 0;
  top: 10px;
  z-index: 1;
  width: 7px;
  height: 7px;
  content: "";
  opacity: 0.8;
  display: none;
  position: absolute;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.im-jumbotron .im-info li:after {
  z-index: 1;
  top: 13px;
  left: 7px;
  width: 22px;
  height: 1px;
  content: "";
  opacity: 0.8;
  display: none;
  background: #fff;
  position: absolute;
}
.im-jumbotron .im-info li:last-child {
  margin-bottom: 0;
}
.im-jumbotron .im-info li span {
  display: block;
}
.im-jumbotron .im-info li strong {
  color: #ffd44a;
}
@media (min-width: 670px) {
  .im-jumbotron-text {
    padding: 1.1rem 0;
    font-size: 2.9rem;
    line-height: 2.9rem;
  }
  .im-jumbotron .im-info {
    text-align: left;
  }
  .im-jumbotron .im-info li {
    padding-left: 4.5rem;
  }
  .im-jumbotron .im-info li:after, .im-jumbotron .im-info li:before {
    display: block;
  }
  .im-jumbotron .im-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .im-jumbotron .im-block-one {
    width: 100%;
  }
  .im-jumbotron .im-block-two {
    width: 280px;
    margin-left: 1rem;
    padding-top: 4rem;
  }
  .im-jumbotron .im-block-three {
    width: 250px;
    margin-right: 18px;
  }
}
@media (min-width: 1050px) {
  .im-jumbotron {
    padding-top: 11.4rem;
  }
  .im-jumbotron h1 {
    text-align: left;
  }
  .im-jumbotron-text {
    text-align: left;
    margin-bottom: 0;
  }
  .im-jumbotron .im-row {
    width: 872px;
    margin: 0 auto;
  }
  .im-jumbotron .im-block-one {
    width: 560px;
    padding-top: 4rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .im-jumbotron .im-block-two {
    width: 100%;
    margin-left: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .im-jumbotron .im-block-three {
    margin-right: 0;
    margin-bottom: 130px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .im-jumbotron .im-info {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .im-jumbotron .im-info li {
    margin-bottom: 0;
  }
}

.im-user {
  width: 250px;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  position: relative;
  background-image: -webkit-linear-gradient(top, #faf1cc 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #faf1cc 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #faf1cc 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFAF1CC", endColorstr="#FFFFFFFF", GradientType=0);
}
.im-user:before {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  content: "";
  height: 81px;
  display: block;
  position: absolute;
  background: #e9c641;
}
.im-user .im-user-wrap {
  z-index: 10;
  width: 100%;
  position: relative;
  padding: 3.6rem 1rem 3.5rem 1rem;
}
.im-user .im-user-photo {
  width: 86px;
  height: 86px;
  display: block;
  position: relative;
  border: 3px solid #fff;
  margin: 0 auto 3rem auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 7px 29px 0px rgba(136, 97, 26, 0.57);
  box-shadow: 0px 7px 29px 0px rgba(136, 97, 26, 0.57);
}
.im-user .im-user-photo:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 102px;
  height: 102px;
  position: absolute;
  margin: -51px 0 0 -51px;
  border: 1px solid #e9c641;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.im-user .im-user-photo .im-user-photo-wrap {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.im-user .im-user-name {
  color: #000;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.im-user .im-user-staff {
  color: #3f3f3f;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-style: italic;
  margin-bottom: 2.4rem;
}
.im-user .im-user-phone {
  color: #000;
  font-size: 1.9rem;
  line-height: 2.4rem;
  text-decoration: none;
}
.im-user .im-user-phone:hover {
  text-decoration: none;
}
.im-user .im-user-email {
  color: #000;
  text-decoration: none;
}

.im-map {
  height: 320px;
}
.im-map #map {
  width: 100%;
  height: 100%;
}
@media (min-width: 670px) {
  .im-map {
    height: 400px;
  }
}
@media (min-width: 1050px) {
  .im-map {
    height: 538px;
  }
}

.im-connection {
  z-index: 20;
  background: #fff;
  position: relative;
  padding-top: 8.7rem;
  padding-bottom: 8rem;
}
.im-connection:before {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  height: 310px;
  position: absolute;
  background: #f7f7f7;
}
.im-connection .container {
  z-index: 20;
  position: relative;
}
.im-connection .im-row {
  margin-bottom: 10rem;
}
.im-connection .im-connection-photo {
  max-width: 346px;
  position: relative;
  margin: 0 auto 125px auto;
  -webkit-box-shadow: 0px 12px 29px 0px rgba(137, 137, 137, 0.21);
  box-shadow: 0px 12px 29px 0px rgba(137, 137, 137, 0.21);
}
.im-connection .im-connection-photo:before {
  left: 50%;
  z-index: 5;
  content: "";
  width: 257px;
  bottom: -76px;
  height: 257px;
  position: absolute;
  margin-left: -128px;
  border: 52px solid #fbf2cc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.im-connection .im-connection-photo:after {
  left: 50%;
  z-index: 10;
  content: "";
  width: 50px;
  height: 50px;
  bottom: -95px;
  margin-left: -25px;
  position: absolute;
  border: 1px solid #ffe48d;
  background: #fff url("../img/icon_quote.svg") 50% 50% no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 29px 0px rgba(229, 140, 13, 0.21);
  box-shadow: 0px 12px 29px 0px rgba(229, 140, 13, 0.21);
}
.im-connection .im-connection-photo .im-photo-wrap {
  z-index: 10;
  position: relative;
}
.im-connection .im-connection-text {
  text-align: center;
}
.im-connection .im-connection-text p {
  max-width: 520px;
  padding: 1.3rem 0;
  font-size: 1.5rem;
  position: relative;
  line-height: 3.2rem;
  margin: 0 auto 3rem auto;
}
.im-connection .im-connection-text p:after, .im-connection .im-connection-text p:before {
  left: 50%;
  z-index: 1;
  height: 1px;
  content: "";
  width: 194px;
  position: absolute;
  margin-left: -97px;
  background: #121212;
}
.im-connection .im-connection-text p:after {
  top: 0;
}
.im-connection .im-connection-text p:before {
  bottom: 0;
}
.im-connection .im-connection-text strong {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.im-connection .im-connection-text span {
  color: #3f3f3f;
  display: block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-style: italic;
}
.im-connection .im-connection-form {
  margin: 0 auto;
  background: #fff;
  max-width: 945px;
  position: relative;
  border: 1px solid #e7e7e7;
  padding: 75px 25px 60px 25px;
  -webkit-box-shadow: 0px 12px 29px 0px rgba(137, 137, 137, 0.21);
  box-shadow: 0px 12px 29px 0px rgba(137, 137, 137, 0.21);
}
.im-connection .im-connection-form:before {
  z-index: 10;
  left: 50%;
  top: -46px;
  content: "";
  width: 92px;
  height: 92px;
  overflow: hidden;
  position: absolute;
  margin-left: -46px;
  display: inline-block;
  background: #fff url("../img/icon_a.png") 50% 50% no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 7px 16px 0px rgba(138, 138, 138, 0.24);
  box-shadow: 0px 7px 16px 0px rgba(138, 138, 138, 0.24);
}
.im-connection .im-connection-form .im-form-wrap {
  z-index: 10;
  position: relative;
}
.im-connection .im-connection-form .im-form-title {
  padding: 0 1.5rem;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  margin: 0 auto 3.5rem auto;
}
.im-connection .im-connection-form .im-form-title span {
  position: relative;
}
.im-connection .im-connection-form .im-form-title span:before {
  top: 2px;
  left: -35px;
  content: "";
  width: 29px;
  height: 29px;
  display: block;
  position: absolute;
  background: url("../img/icon_doc.svg") 50% 50% no-repeat;
  background-size: cover;
}
.im-connection .im-connection-form .im-form-title strong {
  font-weight: 400;
}
.im-connection .im-connection-form .im-form-text {
  max-width: 720px;
  font-size: 1.3rem;
  line-height: 2.4rem;
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto 1.5rem auto;
}
@media (min-width: 670px) {
  .im-connection .im-connection-form {
    height: 485px;
    padding: 75px 35px 60px 35px;
  }
  .im-connection .im-connection-form:after {
    top: 0;
    left: 50%;
    z-index: 1;
    width: 540px;
    content: "";
    margin-left: -270px;
    position: absolute;
    border-bottom: 483px solid #f7f7f7;
    border-left: 167px solid transparent;
    border-right: 167px solid transparent;
  }
  .im-connection .im-connection-form .im-form-title {
    font-size: 3rem;
    padding: 0 0 0 3rem;
  }
  .im-connection .im-connection-form .im-form-title span:before {
    top: 5px;
  }
}
@media (min-width: 1050px) {
  .im-connection {
    padding-top: 11.4rem;
    padding-bottom: 10rem;
  }
  .im-connection .im-row {
    margin-bottom: 14.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .im-connection .im-row .im-row-left {
    z-index: 5;
    width: 360px;
    position: relative;
  }
  .im-connection .im-row .im-row-right {
    z-index: 10;
    position: relative;
    padding: 12rem 0 0 6.5rem;
  }
  .im-connection .im-connection-photo {
    margin: 0;
    width: 358px;
    max-width: inherit;
  }
  .im-connection .im-connection-photo:before {
    top: 28px;
    left: auto;
    right: -122px;
    bottom: auto;
    width: 360px;
    height: 360px;
    margin-left: 0;
    border-width: 73px;
  }
  .im-connection .im-connection-photo:after {
    top: 50px;
    right: -90px;
    left: auto;
    bottom: auto;
    margin-left: 0;
  }
  .im-connection .im-connection-photo .im-photo-wrap {
    overflow: hidden;
    max-width: 100%;
  }
  .im-connection .im-connection-photo .im-photo-inner {
    width: 378px;
    margin: 0 -10px;
  }
  .im-connection .im-connection-text {
    margin: 0;
    max-width: inherit;
    text-align: left;
  }
  .im-connection .im-connection-text p {
    max-width: inherit;
  }
  .im-connection .im-connection-text p:after, .im-connection .im-connection-text p:before {
    left: 0;
    margin-left: 0;
  }
  .im-connection .im-connection-form {
    height: 395px;
    padding: 75px 67px 60px 67px;
  }
  .im-connection .im-connection-form:after {
    width: 750px;
    margin-left: -375px;
    border-bottom: 393px solid #f7f7f7;
    border-left: 265px solid transparent;
    border-right: 265px solid transparent;
  }
  .im-connection .im-connection-form .im-form-title {
    font-weight: 400;
    max-width: inherit;
  }
  .im-connection .im-connection-form .im-form-title strong {
    font-weight: 700;
  }
  .im-connection .im-connection-form .im-form-row {
    margin: 0 -1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .im-connection .im-connection-form .im-form-row .im-form-col {
    width: 50%;
    padding: 0 1rem;
  }
}
@media (min-width: 1200px) {
  .im-connection .im-row .im-row-left {
    width: 380px;
    margin-left: 37px;
  }
  .im-connection .im-connection-photo {
    width: 378px;
  }
  .im-connection .im-connection-photo .im-photo-inner {
    margin: 0;
    width: 100%;
  }
  .im-connection .im-connection-text {
    max-width: 585px;
  }
}

.im-price {
  color: #fff;
  padding: 7rem 0;
  background: url("../img/price_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.im-price-title {
  font-size: 4.2rem;
  line-height: 4.2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.im-price-title span {
  padding: 0.7rem 0;
  display: inline-block;
  border-top: 1px solid #ffd44a;
  border-bottom: 1px solid #ffd44a;
}
.im-price-subtitle {
  max-width: 850px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  margin: 0 auto 5rem auto;
}
.im-price-subtitle span {
  color: #ffd44a;
}
.im-price .im-price-list {
  padding: 0;
  color: #fff;
  max-width: 945px;
  list-style: none;
  margin: 0 auto 7.5rem auto;
  border-top: 1px solid #38353e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.im-price .im-price-list > li {
  width: 50%;
  height: 119px;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #38353e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.im-price .im-price-list > li:last-child {
  margin-left: 25%;
}
.im-price .im-price-list > li .im-price-item {
  width: 100%;
  margin: auto 0;
}
.im-price .im-price-list > li span {
  display: block;
}
.im-price .im-price-list > li strong {
  display: block;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;
}
@media (min-width: 576px) {
  .im-price .im-price-list > li {
    width: 33.33%;
  }
  .im-price .im-price-list > li:nth-child(5) {
    padding: 1rem 4rem;
  }
  .im-price .im-price-list > li:nth-child(7) {
    padding: 1rem 4rem;
  }
  .im-price .im-price-list > li:last-child {
    margin-left: 0;
  }
}
@media (min-width: 670px) {
  .im-price {
    padding: 10rem 0 10.5rem 0;
  }
  .im-price .im-price-list > li {
    padding: 1rem 2rem;
  }
  .im-price .im-price-list > li:nth-child(3) {
    padding: 1rem 5rem;
  }
  .im-price .im-price-list > li:nth-child(5) {
    padding: 1rem 5rem;
  }
}
@media (min-width: 1050px) {
  .im-price .im-price-list > li {
    padding: 1rem;
  }
  .im-price .im-price-list > li:nth-child(3), .im-price .im-price-list > li:nth-child(5), .im-price .im-price-list > li:nth-child(7) {
    padding: 1rem;
  }
}
.im-faq {
  background: #fff;
  padding-top: 7rem;
  padding-bottom: 3rem;
}
.im-faq h2,
.im-faq .h2 {
  color: #020202;
  text-align: center;
  margin-bottom: 3rem;
}
.im-faq .im-faq-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.im-faq .im-faq-list > li {
  padding: 2rem 2rem;
  margin-bottom: 3rem;
  border: 1px solid #e6e6e6;
}
.im-faq .im-faq-list > li.open {
  background: #fff;
  padding-left: 1.9rem;
  border-left: 2px solid #ffd44a;
  -webkit-box-shadow: 0px 12px 29px 0px rgba(138, 138, 138, 0.14);
  box-shadow: 0px 12px 29px 0px rgba(138, 138, 138, 0.14);
}
.im-faq .im-faq-list > li.open .im-faq-toggle {
  background: #ffd44a;
  border-color: #ffd44a;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.im-faq .im-faq-list > li.open .im-faq-toggle i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.im-faq .im-faq-list > li.open .im-faq-toggle svg {
  fill: #fff;
}
.im-faq .im-faq-list > li.open .im-faq-title {
  margin-bottom: 1.5rem;
}
.im-faq .im-faq-list > li.open .im-faq-content {
  display: block;
}
.im-faq .im-faq-list .im-faq-title {
  color: #1c1208;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  padding: 0.8rem 4rem 0.8rem 0;
}
.im-faq .im-faq-list .im-faq-toggle {
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  font-size: 0;
  line-height: 0;
  display: block;
  background: #fff;
  position: absolute;
  border: 1px solid #ffd44a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 11px 18px 0px rgba(222, 140, 13, 0.24);
  box-shadow: 0px 11px 18px 0px rgba(222, 140, 13, 0.24);
}
.im-faq .im-faq-list .im-faq-toggle i {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 7px;
  display: block;
  position: absolute;
  margin: -4px 0 0 -6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.im-faq .im-faq-list .im-faq-toggle svg {
  fill: #ffd44a;
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.im-faq .im-faq-list .im-faq-content {
  display: none;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 3.2rem;
  background: #f7f7f7;
}
@media (min-width: 576px) {
  .im-faq .im-faq-list > li {
    padding: 2rem 3.5rem;
  }
  .im-faq .im-faq-list > li.open {
    padding-left: 3.4rem;
  }
  .im-faq .im-faq-list > li.open .im-faq-content {
    padding: 2.5rem 3.5rem;
  }
  .im-faq .im-faq-list .im-faq-title {
    font-size: 2rem;
    padding: 0.5rem 4rem 0.5rem 0;
  }
}
@media (min-width: 1050px) {
  .im-faq h2,
.im-faq .h2 {
    margin-bottom: 6rem;
  }
  .im-faq .im-faq-list {
    margin: 0 auto;
    max-width: 945px;
  }
  .im-faq .im-faq-list > li {
    padding: 3rem 4rem;
    margin-bottom: 3.5rem;
  }
  .im-faq .im-faq-list > li.open {
    padding-left: 3.9rem;
    padding-bottom: 4.5rem;
  }
  .im-faq .im-faq-list > li.open .im-faq-content {
    padding: 3rem 4rem;
  }
  .im-faq .im-faq-list .im-faq-title {
    font-size: 2rem;
    padding: 0.5rem 6rem 0.5rem 0;
  }
}
@media (min-width: 1200px) {
  .im-faq .im-faq-list {
    margin: 0 auto;
    max-width: 1028px;
  }
}

.im-boat {
  height: 400px;
  margin-bottom: 4rem;
}
.im-boat .item {
  height: 400px;
  outline: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 0px 12px 29px 0px rgba(138, 138, 138, 0.21);
  box-shadow: 0px 12px 29px 0px rgba(138, 138, 138, 0.21);
}
.im-boat button {
  outline: none !important;
}
@media (min-width: 1050px) {
  .im-boat {
    height: 492px;
  }
  .im-boat .item {
    height: 492px;
    background-size: auto;
  }
}
@media (min-width: 1575px) {
  .im-boat .item {
    background-size: cover;
  }
}

.im-footer {
  background: #f8f8f8;
  padding-top: 3.5rem;
  border-top: 1px solid #edecea;
  font-family: "Roboto", Arial, sans-serif;
}
.im-footer-top {
  padding-bottom: 2rem;
  border-bottom: 1px solid #edecea;
}
.im-footer-nav h3 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}
.im-footer-nav ul {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.2rem;
  list-style: none;
}
.im-footer-nav ul > li {
  margin-bottom: 0.6rem;
}
.im-footer-nav ul > li > a {
  color: #444;
  padding: 0.3rem 0;
  text-decoration: none;
}
.im-footer-nav ul > li > a:hover {
  color: #448aff;
  text-decoration: navajowhite;
}
.im-footer-nav-item {
  margin-bottom: 3rem;
}
.im-footer-description {
  color: #535353;
  font-size: 1.4rem;
  line-height: 2rem;
}
.im-footer-bottom {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
.im-footer-phone {
  font-size: 0;
  line-height: 0;
  list-style: none;
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 2.8rem;
}
.im-footer-phone:before {
  left: 0;
  top: -1px;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_telephone.svg") 50% 50% no-repeat;
  background-size: cover;
}
.im-footer-phone li {
  display: inline-block;
}
.im-footer-phone li:first-child {
  margin-right: 2rem;
}
.im-footer-phone li a {
  color: #1c1d1f;
  font-size: 1.7rem;
  line-height: 2rem;
  text-decoration: none;
  display: inline-block;
}
.im-footer-address {
  color: #444;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.im-footer-address i {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 0.4rem 0 0.7rem;
}
.im-footer-address a {
  color: #448aff;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: underline;
}
.im-footer-address a:hover {
  text-decoration: none;
}
.im-footer-payment p {
  color: #444;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.im-footer-payment ul {
  padding: 0;
  list-style: none;
  margin: 0 -0.3rem 1.5rem -0.3rem;
}
.im-footer-payment ul:before, .im-footer-payment ul:after {
  content: " ";
  display: table;
}
.im-footer-payment ul:after {
  clear: both;
}
.im-footer-payment ul li {
  float: left;
  padding: 0 0.3rem;
}
.im-footer-privacy {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}
.im-footer-privacy a {
  color: #448aff;
  text-decoration: underline;
}
.im-footer-privacy a:hover {
  text-decoration: none;
}
.im-footer-copyright {
  color: #535353;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}
.im-footer-author {
  color: #535353;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.im-footer-author a {
  color: #448aff;
  text-decoration: underline;
}
.im-footer-author a:hover {
  text-decoration: none;
}
.im-footer-social {
  display: none;
}
.im-footer-sitemap {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.im-footer-sitemap a {
  color: #535353;
}
.im-footer-sitemap a i {
  margin-right: 0.5rem;
}
.im-footer-sitemap a span {
  color: #448aff;
  text-decoration: underline;
}
.im-footer-sitemap a:hover span {
  text-decoration: none;
}
@media (min-width: 576px) {
  .im-footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .im-footer-nav-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .im-footer-nav-row ul {
    width: 50%;
    padding-right: 1rem;
  }
  .im-footer-nav-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 670px) {
  .im-footer-bottom-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .im-footer-bottom-right {
    min-width: 315px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .im-footer-social {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .im-footer-sitemap {
    text-align: right;
  }
}
@media (min-width: 1050px) {
  .im-footer-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .im-footer-nav {
    width: 570px;
  }
  .im-footer-nav-item {
    margin-bottom: 0;
  }
  .im-footer-nav-item:nth-child(1) {
    padding-right: 2rem;
  }
  .im-footer-description {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .im-footer-nav {
    width: 670px;
  }
  .im-footer-description {
    width: 405px;
  }
}

/*# sourceMappingURL=main.css.map */
