.im-header {
	background: #fff;
	padding: 1.6rem 0 1.5rem 0;

	&-logo {
		width: 274px;
		height: 62px;
		display: block;
		margin: 0 auto 0.6rem auto;
	}

	&-contact {
		text-align: center;
	}

	&-phone {
		margin: 0;
		padding: 0 2rem;
		color: #2f2f2f;
		font-size: 2rem;
		list-style: none;
		font-weight: 600;
		line-height: 2.2rem;
		position: relative;
		display: inline-block;


		> li {
			padding: 0 1.5rem;
			min-height: 2.2rem;
			margin-bottom: 0.5rem;
			display: inline-block;

			&:first-child {
				position: relative;

				&:before {
					left: -2rem;
					top: 1px;
					content: '';
					width: 2.2rem;
					height: 2.2rem;
					position: absolute;
					display: inline-block;
					background: url("../img/icon_phone.svg") 50% 50% no-repeat;
					background-size: cover;
				}
			}

			a {
				color: #333;
				text-decoration: none;

				&:hover {
					color: #333;
					text-decoration: none;
				}
			}
		}
	}

	&-email {
		display: none;
	}

	@media (min-width: $screen-lg-min) {
		padding: 2.1rem 0;

		&-row {

			@include flexbox();
			@include justify-content(space-between);
		}

		&-logo {
			margin: 0;
			width: 347px;
			height: auto;
		}

		&-contact {
			text-align: left;
			padding-top: 1.4rem;
		}

		&-phone {
			padding: 0;
			margin: 0 -1.5rem 0 0;
			@include flexbox();

			> li {
				margin-bottom: 0;
			}
		}

		&-email {
			color: #1e1e1e;
			font-size: 1.5rem;
			font-weight: 300;
			margin-left: 1.5rem;
			line-height: 1.7rem;
			display: inline-block;
			border-bottom: 1px solid #c7c7c7;

			&:hover {
				color: #1e1e1e;
				border-bottom-color: transparent;
			}
		}
	}
}


.im-jumbotron {
	color: #fff;
	padding-top: 5rem;
	padding-bottom: 5.5rem;
	background: url("../img/first_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	h1 {
		text-align: center;

		span {
			display: block;
			color: $color-yellow;
		}
	}

	&-text {
		font-size: 2rem;
		font-weight: 300;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 4.8rem;
		font-family: $font-family-head;

		span {
			padding: 0.7rem 0;
			display: inline-block;
			border-top: 1px solid #f3d356;
			border-bottom: 1px solid #f3d356;
		}
	}

	.im-info {
		padding: 0;
		margin: 0 0 4rem 0;
		list-style: none;
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-align: center;

		li {
			position: relative;
			padding-left: 0;
			margin-bottom: 3.5rem;

			&:before {
				left: 0;
				top: 10px;
				z-index: 1;
				width: 7px;
				height: 7px;
				content: '';
				opacity: 0.8;
				display: none;
				position: absolute;
				border: 1px solid #fff;
				@include border-radius(50%);
			}

			&:after {
				z-index: 1;
				top: 13px;
				left: 7px;
				width: 22px;
				height: 1px;
				content: '';
				opacity: 0.8;
				display: none;
				background: #fff;
				position: absolute;
			}

			&:last-child {
				margin-bottom: 0;
			}


			span {
				display: block;
			}

			strong {
				color: $color-yellow;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&-text {
			padding: 1.1rem 0;
			font-size: 2.9rem;
			line-height: 2.9rem;
		}

		.im-info {
			text-align: left;

			li {
				padding-left: 4.5rem;

				&:after,
				&:before {
					display: block;
				}
			}
		}


		.im-row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		.im-block-one {
			width: 100%;
		}

		.im-block-two {
			width: 280px;
			margin-left: 1rem;
			padding-top: 4rem;
		}

		.im-block-three {
			width: 250px;
			margin-right: 18px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 11.4rem;

		h1 {
			text-align: left;
		}

		&-text {
			text-align: left;
			margin-bottom: 0;
		}

		.im-row {
			width: 872px;
			margin: 0 auto;
		}

		.im-block-one {
			width: 560px;
			padding-top: 4rem;
			@include order(1);
		}

		.im-block-two {
			width: 100%;
			margin-left: 0;
			@include order(3);
		}

		.im-block-three {
			margin-right: 0;
			margin-bottom: 130px;
			@include order(2);
		}

		.im-info {
			margin: 0;
			@include flexbox();
			@include justify-content(space-between);

			li {
				margin-bottom: 0;
			}
		}
	}
}

.im-user {
	width: 250px;
	margin: 0 auto;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-align: center;
	position: relative;
	@include gradient-vertical(#faf1cc, #ffffff);

	&:before {
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		content: '';
		height: 81px;
		display: block;
		position: absolute;
		background: #e9c641;
	}

	.im-user-wrap {
		z-index: 10;
		width: 100%;
		position: relative;
		padding: 3.6rem 1rem 3.5rem 1rem;
	}

	.im-user-photo {
		width: 86px;
		height: 86px;
		display: block;
		position: relative;
		border: 3px solid #fff;
		margin: 0 auto 3rem auto;
		@include border-radius(50%);
		@include box-shadow(0px 7px 29px 0px rgba(136, 97, 26, 0.57));

		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 102px;
			height: 102px;
			position: absolute;
			margin: -51px 0 0 -51px;
			border: 1px solid #e9c641;
			@include border-radius(50%);
		}

		.im-user-photo-wrap {
			overflow: hidden;
			@include border-radius(50%);
		}
	}

	.im-user-name {
		color: #000;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.4rem;
	}

	.im-user-staff {
		color: #3f3f3f;
		font-size: 1.5rem;
		line-height: 2.4rem;
		font-style: italic;
		margin-bottom: 2.4rem;
	}

	.im-user-phone {
		color: #000;
		font-size: 1.9rem;
		line-height: 2.4rem;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	.im-user-email {
		color: #000;
		text-decoration: none;
	}
}

.im-map {
	height: 320px;

	#map {
		width: 100%;
		height: 100%;
	}

	@media (min-width: $screen-md-min) {
		height: 400px;
	}

	@media (min-width: $screen-lg-min) {
		height: 538px;
	}
}

.im-connection {
	z-index: 20;
	background: #fff;
	position: relative;
	padding-top: 8.7rem;
	padding-bottom: 8rem;

	&:before  {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		height: 310px;
		position: absolute;
		background: #f7f7f7;
	}

	.container {
		z-index: 20;
		position: relative;
	}

	.im-row {
		margin-bottom: 10rem;
	}

	.im-connection-photo {
		max-width: 346px;
		position: relative;
		margin: 0 auto 125px auto;
		@include box-shadow(0px 12px 29px 0px rgba(137, 137, 137, 0.21));

		&:before {
			left: 50%;
			z-index: 5;
			content: '';
			width: 257px;
			bottom: -76px;
			height: 257px;
			position: absolute;
			margin-left: -128px;
			border: 52px solid #fbf2cc;
			@include border-radius(50%);
		}


		&:after {
			left: 50%;
			z-index: 10;
			content: '';
			width: 50px;
			height: 50px;
			bottom: -95px;
			margin-left: -25px;
			position: absolute;
			border: 1px solid #ffe48d;
			background: #fff url("../img/icon_quote.svg") 50% 50% no-repeat;
			@include border-radius(50%);
			@include box-shadow(0px 12px 29px 0px rgba(229, 140, 13, 0.21));
		}

		.im-photo-wrap {
			z-index: 10;
			position: relative;
		}
	}

	.im-connection-text {

		text-align: center;

		p {
			max-width: 520px;
			padding: 1.3rem 0;
			font-size: 1.5rem;
			position: relative;
			line-height: 3.2rem;
			margin: 0 auto 3rem auto;

			&:after,
			&:before {
				left: 50%;
				z-index: 1;
				height: 1px;
				content: '';
				width: 194px;
				position: absolute;
				margin-left: -97px;
				background: #121212;
			}

			&:after {
				top: 0;
			}

			&:before {
				bottom: 0;
			}
		}

		strong {
			display: block;
			font-size: 2rem;
			font-weight: 700;
			line-height: 2.4rem;
		}

		span {
			color: #3f3f3f;
			display: block;
			font-size: 1.4rem;
			line-height: 2.4rem;
			font-style: italic;
		}
	}

	.im-connection-form {
		margin: 0 auto;
		background: #fff;
		max-width: 945px;
		position: relative;
		border: 1px solid #e7e7e7;
		padding: 75px 25px 60px 25px;
		@include box-shadow( 0px 12px 29px 0px rgba(137, 137, 137, 0.21));

		&:before {
			z-index: 10;
			left: 50%;
			top: -46px;
			content: '';
			width: 92px;
			height: 92px;
			overflow: hidden;
			position: absolute;
			margin-left: -46px;
			display: inline-block;
			background: #fff url("../img/icon_a.png") 50% 50% no-repeat;
			@include border-radius(50%);
			@include box-shadow(0px 7px 16px 0px rgba(138, 138, 138, 0.24));
		}

		.im-form-wrap {
			z-index: 10;
			position: relative;
		}

		.im-form-title {
			padding: 0 1.5rem;
			font-weight: 300;
			font-size: 2.4rem;
			line-height: 3.2rem;
			text-align: center;
			margin: 0 auto 3.5rem auto;

			span {
				position: relative;

				&:before {
					top: 2px;
					left: -35px;
					content: '';
					width: 29px;
					height: 29px;
					display: block;
					position: absolute;
					background: url("../img/icon_doc.svg") 50% 50% no-repeat;
					background-size: cover;
				}
			}

			strong {
				font-weight: 400;
			}
		}

		.im-form-text {
			max-width: 720px;
			font-size: 1.3rem;
			line-height: 2.4rem;
			text-align: center;
			padding-top: 2rem;
			margin: 0 auto 1.5rem auto;
		}
	}


	@media (min-width: $screen-md-min) {

		.im-connection-form {
			height: 485px;
			padding: 75px 35px 60px 35px;

			&:after {
				top: 0;
				left: 50%;
				z-index: 1;
				width: 540px;
				content: '';
				margin-left: -270px;
				position: absolute;
				border-bottom: 483px solid #f7f7f7;
				border-left: 167px solid transparent;
				border-right: 167px solid transparent;
			}

			.im-form-title {
				font-size: 3rem;
				padding: 0 0 0 3rem;

				span {
					&:before {
						top: 5px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 11.4rem;
		padding-bottom: 10rem;

		.im-row {
			margin-bottom: 14.5rem;
			@include flexbox();

			.im-row-left {
				z-index: 5;
				width: 360px;
				position: relative;
			}

			.im-row-right {
				z-index: 10;
				position: relative;
				padding: 12rem 0 0 6.5rem;
			}
		}

		.im-connection-photo {
			margin: 0;
			width: 358px;
			max-width: inherit;

			&:before {
				top: 28px;
				left: auto;
				right: -122px;
				bottom: auto;
				width: 360px;
				height: 360px;
				margin-left: 0;
				border-width: 73px;
			}

			&:after {
				top: 50px;
				right: -90px;
				left: auto;
				bottom: auto;
				margin-left: 0;
			}

			.im-photo-wrap {
				overflow: hidden;
				max-width: 100%;
			}

			.im-photo-inner {
				width: 378px;
				margin: 0 -10px;
			}
		}

		.im-connection-text {
			margin: 0;
			max-width: inherit;
			text-align: left;

			p {
				max-width: inherit;

				&:after,
				&:before {
					left: 0;
					margin-left: 0;
				}
			}
		}

		.im-connection-form {
			height: 395px;
			padding: 75px 67px 60px 67px;

			&:after {
				width: 750px;
				margin-left: -375px;
				border-bottom: 393px solid #f7f7f7;
				border-left: 265px solid transparent;
				border-right: 265px solid transparent;
			}

			.im-form-title {
				font-weight: 400;
				max-width: inherit;

				strong {
					font-weight: 700;
				}
			}

			.im-form-row {
				margin: 0 -1rem;
				@include flexbox();

				.im-form-col {
					width: 50%;
					padding: 0 1rem;
				}
			}
		}
	}


	@media (min-width: $screen-xl-min) {

		.im-row {

			.im-row-left {
				width: 380px;
				margin-left: 37px;
			}

			.im-row-right {
			}
		}

		.im-connection-photo {
			width: 378px;

			.im-photo-inner {
				margin: 0;
				width: 100%;
			}
		}

		.im-connection-text {
			max-width: 585px;
		}
	}

}

.im-price {
	color: #fff;
	padding: 7rem 0;
	background: url("../img/price_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&-title {
		font-size: 4.2rem;
		line-height: 4.2rem;
		text-align: center;
		margin-bottom: 3rem;

		span {
			padding: 0.7rem 0;
			display: inline-block;
			border-top: 1px solid $color-yellow;
			border-bottom: 1px solid $color-yellow;
		}
	}

	&-subtitle {
		max-width: 850px;
		font-size: 1.6rem;
		line-height: 2.6rem;
		text-align: center;
		margin: 0 auto 5rem auto;

		span {
			color: $color-yellow;
		}
	}

	.im-price-list {
		padding: 0;
		color: #fff;
		max-width: 945px;
		list-style: none;
		margin: 0 auto 7.5rem auto;
		border-top: 1px solid #38353e;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			height: 119px;
			padding: 1rem 2rem;
			text-align: center;
			font-size: 1.5rem;
			line-height: 2.2rem;
			border-bottom: 1px solid #38353e;
			@include flexbox();

			&:last-child {
				margin-left: 25%;
			}

			.im-price-item {
				width: 100%;
				margin: auto 0;
			}

			span {
				display: block;
			}

			strong {
				display: block;
				font-weight: 400;
				font-size: 2.4rem;
				line-height: 3.4rem;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.im-price-list {

			> li {
				width: 33.33%;

				&:nth-child(5) {
					padding: 1rem 4rem;
				}

				&:nth-child(7) {
					padding: 1rem 4rem;
				}

				&:last-child {
					margin-left: 0;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 10rem 0 10.5rem 0;

		.im-price-list {

			> li {
				padding: 1rem 2rem;

				&:nth-child(3) {
					padding: 1rem 5rem;
				}

				&:nth-child(5) {
					padding: 1rem 5rem;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.im-price-list {

			> li {
				padding: 1rem;

				&:nth-child(3),
				&:nth-child(5),
				&:nth-child(7) {
					padding: 1rem;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.im-faq {
	background: #fff;
	padding-top: 7rem;
	padding-bottom: 3rem;

	h2,
	.h2 {
		color: #020202;
		text-align: center;
		margin-bottom: 3rem;
	}

	.im-faq-list {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			padding: 2rem 2rem;
			margin-bottom: 3rem;
			border: 1px solid #e6e6e6;

			&.open {
				background: #fff;
				padding-left: 1.9rem;
				border-left: 2px solid $color-yellow;
				@include box-shadow(0px 12px 29px 0px rgba(138, 138, 138, 0.14));

				.im-faq-toggle {
					background: $color-yellow;
					border-color: $color-yellow;
					@include box-shadow(none);

					i {
						@include rotate(180deg);
						@include transition(0.3s);
					}

					svg {
						fill: #fff;
					}
				}

				.im-faq-title {
					margin-bottom: 1.5rem;
				}

				.im-faq-content {
					display: block;
				}
			}
		}

		.im-faq-title {
			color: #1c1208;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.5;
			cursor: pointer;
			position: relative;
			padding: 0.8rem 4rem 0.8rem 0;
		}

		.im-faq-toggle {
			top: 0;
			right: 0;
			width: 4rem;
			height: 4rem;
			font-size: 0;
			line-height: 0;
			display: block;
			background: #fff;
			position: absolute;
			border: 1px solid $color-yellow;
			@include border-radius(50%);
			@include box-shadow(0px 11px 18px 0px rgba(222, 140, 13, 0.24));

			i {
				top: 50%;
				left: 50%;
				width: 12px;
				height: 7px;
				display: block;
				position: absolute;
				margin: -4px 0 0 -6px;
				@include transition(0.3s);
			}

			svg {
				fill: $color-yellow;
				position: relative;
				display: inline-block;
				width: auto;
				height: 100%;
				-webkit-transform: translate(0, 0);
				transform: translate(0, 0);
			}
		}

		.im-faq-content {
			display: none;
			padding: 2rem;
			font-size: 1.5rem;
			line-height: 3.2rem;
			background: #f7f7f7;
		}
	}

	@media (min-width: $screen-sm-min) {

		.im-faq-list {

			> li {
				padding: 2rem 3.5rem;

				&.open {
					padding-left: 3.4rem;

					.im-faq-content {
						padding: 2.5rem 3.5rem;
					}
				}
			}

			.im-faq-title {
				font-size: 2rem;
				padding: 0.5rem 4rem 0.5rem 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		h2,
		.h2 {
			margin-bottom: 6rem;
		}

		.im-faq-list {
			margin: 0 auto;
			max-width: 945px;

			> li {
				padding: 3rem 4rem;
				margin-bottom: 3.5rem;

				&.open {
					padding-left: 3.9rem;
					padding-bottom: 4.5rem;

					.im-faq-content {
						padding: 3rem 4rem;
					}
				}
			}

			.im-faq-title {
				font-size: 2rem;
				padding: 0.5rem 6rem 0.5rem 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		.im-faq-list {
			margin: 0 auto;
			max-width: 1028px;
		}
	}

}

.im-boat {
	height: 400px;
	margin-bottom: 4rem;


	.im-boat-slider {

	}

	.item {
		height: 400px;
		outline: none;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		@include box-shadow(0px 12px 29px 0px rgba(138, 138, 138, 0.21));
	}

	button {
		outline: none !important;
	}

	@media (min-width: $screen-lg-min) {
		height: 492px;

		.item {
			height: 492px;
			background-size: auto;
		}
	}

	@media (min-width: 1575px) {

		.item {
			background-size: cover;
		}
	}

}

.im-footer {
	background: #f8f8f8;
	padding-top: 3.5rem;
	border-top: 1px solid #edecea;
	font-family: $font-family-head;

	&-top {
		padding-bottom: 2rem;
		border-bottom: 1px solid #edecea;
	}

	&-nav {

		h3 {
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 0.8rem;
		}

		ul {
			margin: 0;
			padding: 0;
			font-size: 1.4rem;
			line-height: 1.2rem;
			list-style: none;

			> li {
				margin-bottom: 0.6rem;

				> a {
					color: #444;
					padding: 0.3rem 0;
					text-decoration: none;

					&:hover {
						color: #448aff;
						text-decoration: navajowhite;
					}
				}
			}
		}

		&-item {
			margin-bottom: 3rem;
		}
	}

	&-description {
		color: #535353;
		font-size: 1.4rem;
		line-height: 2rem;
	}

	&-bottom {
		padding-top: 2.5rem;
		padding-bottom: 3rem;
	}

	&-phone {
		font-size: 0;
		line-height: 0;
		list-style: none;
		position: relative;
		margin: 0 0 0.5rem 0;
		padding: 0 0 0 2.8rem;

		&:before {
			left: 0;
			top: -1px;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon_telephone.svg") 50% 50% no-repeat;
			background-size: cover;
		}

		li {
			display: inline-block;

			&:first-child {
				margin-right: 2rem;
			}

			a {
				color: #1c1d1f;
				font-size: 1.7rem;
				line-height: 2rem;
				text-decoration: none;
				display: inline-block;
			}
		}
	}

	&-address {
		color: #444;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 1rem;

		i {
			font-size: 1.2rem;
			line-height: 2rem;
			margin: 0 0.4rem 0 0.7rem;
		}

		a {
			color: #448aff;
			font-size: 1.2rem;
			line-height: 2rem;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&-payment {

		p {
			color: #444;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 1rem;
		}

		ul {
			padding: 0;
			list-style: none;
			margin: 0 -0.3rem 1.5rem -0.3rem;
			@include clearfix();

			li {
				float: left;
				padding: 0 0.3rem;
			}
		}
	}

	&-privacy {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-bottom: 1.5rem;

		a {
			color: #448aff;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&-copyright {
		color: #535353;
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-bottom: 1.5rem;
	}

	&-author {
		color: #535353;
		font-size: 1.2rem;
		line-height: 1.6rem;

		a {
			color: #448aff;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&-social {
		display: none;
	}

	&-sitemap {
		padding-top: 1.5rem;
		font-size: 1.2rem;
		line-height: 1.6rem;

		a {
			color: #535353;

			i {
				margin-right: 0.5rem;
			}

			span {
				color: #448aff;
				text-decoration: underline;
			}

			&:hover {

				span {
					text-decoration: none;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&-nav {
			@include flexbox();
			@include justify-content(space-between);

			&-row {
				@include flexbox();

				ul {
					width: 50%;
					padding-right: 1rem;
				}
			}

			&-item {
				@include flex-grow(1);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&-bottom {

			&-row {
				@include flexbox();
				@include justify-content(space-between);
			}

			&-right {
				min-width: 315px;
				@include flexbox();
				@include flex-direction(column);
			}
		}

		&-social {
			display: block;
			@include flex-grow(1);
		}

		&-sitemap {
			text-align: right;
		}
	}

	@media (min-width: $screen-lg-min) {

		&-top {
			@include flexbox();
			@include justify-content(space-between);
		}

		&-nav {
			width: 570px;

			&-item {
				margin-bottom: 0;

				&:nth-child(1) {
					padding-right: 2rem;
				}
			}
		}

		&-description {
			width: 340px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&-nav {
			width: 670px;
		}

		&-description {
			width: 405px;
		}
	}

}


@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}

