
.btn {
	color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	user-select: none;
	font-size: 1.3rem;
	text-align: center;
	line-height: 1.9rem;
	white-space: nowrap;
	background: #ffd44a;
	display: inline-block;
	vertical-align: middle;
	padding: 1.6rem 6.5rem;
	text-transform: uppercase;

	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #000;
		background: #ffc200;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #ffd44a;
	}
}

.btn-shadow {
	padding: 1.6rem 2rem;
	@include box-shadow(0px 8px 16px 0px rgba(255, 211, 74, 0.24));

	@media (min-width: $screen-sm-min) {
		padding: 1.6rem 6.5rem;
	}
}