.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #010101;
	height: 3.8rem;
	background: #fff;
	font-size: 1.5rem;
	line-height: 2rem;
	display: inline-block;
	padding: 0.8rem 1.5rem;
	border: 1px solid #b5b5b5;
	@include placeholder(#010101);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #010101;
		border-color: #333;
		@include placeholder(transparent);
	}
}

.form-group {
	margin-bottom: 1.7rem;
}